<!DOCTYPE html>
<html>
<head>
	<title>RoyalBLue Project</title>
	<link rel="stylesheet" type="text/css" href="/static/estilo.css">
</head>
<body>

<h1>Bolichapp</h1>

<p>Se propone elaborar una aplicación web que contenga información estadística sobre la cantidad de gente que tiene pensado concurrir a diferentes boliches de montevideo. </p>

<p>La aplicación tiene como objetivo ayudar al usuario a decidirse a qué boliche va a concurrir, no solamente por la cantidad de gente que va a ir al evento sino por la cantidad de amigos que irán al mismo.
</p>

<p>Dicha aplicacion deberá contar con un registro de usuarios y un login al sistema. Tenemos pensado hacerlo mediante la API de facebook, lo cual si bien genera una dificultad extra, elimina el tener que llenar el formulario de registro, enviar/aceptar solicitudes de amistad, etcétera.
</p>

<p>Dentro de la aplicacion el usuario podra votar al boliche al cual le gustaría ir, así como también ver estadíssticas relacionadas al mismo. Dentro 		de esta estadística se encuentra:
	<ul>
		<li>Cantidad de votos global: Se mostrará de manera anónima</li> 
		<li>Cantidad de votos de amigos: Mediante una sincronización con la API de facebook podrás ver a donde van tus amigos.</li>
	</ul>
</p>

<p>Primero se tratará de realizar el proyecto de manera tradicional, pero si al ir trabajando en el mismo nos damos cuenta de que nos puede llegar a dar el tiempo para hacerlo, tenemos pensado también incluir un mapa de google maps, en donde se ubicarán los boliches como indicadores y puntos o algun tipo de simbología que represente las personas que votaron que van a ir a determinado boliche.
</p>



</body>
</html>